In [1]:
import pandas as pd

# B1

In [ ]:
df=pd.read_csv(r"E:\FPT\DAT2051\Labs\Lab 2\lab2.csv")
print('Total score')
print(df['score'].sum())
print('Mean age')
print(df['age'].mean())
print('Student have a high score')
print(df[df['score']==df['score'].max()])
print('Student have a low score')
print(df[df['score']==df['score'].min()])

# B2

In [25]:
df['name']=df['name'].fillna('Unknow')

In [ ]:
filter=df['score']>=80
df[filter]
filter2=df['age']>25
df[filter2]
filter3=df['name'].str.match('^A')
df[filter3]

# B3

In [ ]:
df=pd.read_csv(r"E:\FPT\DAT2051\Labs\Lab 2\lab2.csv")
df.isna().sum()
df=df.dropna()
df[df.duplicated()]
df=df.drop_duplicates()
df[(df['score']<60) & (df['score']>100)]
df.drop(df[(df['score']<60) & (df['score']>100)].index,inplace=True)

# B4

In [56]:
df=pd.read_csv(r"E:\FPT\DAT2051\Labs\Lab 2\lab2.csv")
df['age']=df['age'].astype('int64')
df['gender']=df['gender'].fillna('Unknow')
df['score']=df['score'].fillna(df['score'].mean())
df['name']=df['name'].fillna('No Inf')
# df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1000 non-null   object
 1   age     1000 non-null   int64
 2   gender  1000 non-null   object
 3   score   1000 non-null   int64
dtypes: int64(2), object(2)
memory usage: 31.4+ KB

In [57]:
df.isna().sum()

name      0
age       0
gender    0
score     0
dtype: int64